﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

#divFacetas{

    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border-radius: 50px 50px 50px 50px;
    border-style:outset;
    border-color:#404040;
    border-width: 5px;
    background:rgb(112, 196, 105);
    padding: 20px; 
    margin:0 auto;
    width: 377px;
    text-align:justify;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
