﻿<!DOCTYPE html>
<html>
<head>
    @*<meta charset="utf-8" />*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Imobiliária ISEP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="http://code.jquery.com/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <!-- CUSTOM STYLE CSS -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    @*<script src="~/widgetimorest/widget.js"></script>*@
    @*<link href="~/widgetimorest/widgetcss.css" rel="stylesheet" />*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Imobiliária ISEP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                    <li>@Html.ActionLink("Anúncios", "Index", "Anuncios")</li>
                    <li>@Html.ActionLink("Imóveis", "Index", "Imovels")</li>
                    <li>@Html.ActionLink("Tipos de Imóveis", "Index", "TipoImovels")</li>
                    @*@if (User.IsInRole("Cliente"))
                    {*@
                        <li>@Html.ActionLink("Alertas", "Index", "Alertas")</li>
                    @*}*@
                    @*@if (!User.IsInRole("Cliente") && !User.IsInRole("Administrador"))
                    {*@
                        <li>@Html.ActionLink("Widget", "Widget", "Home")</li>
                    @*}*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

        @*<div class="wi" id="widget">
                <p>

                </p>
            </div>

            <div class="ou" id="output">
                <p>

                </p>
            </div>*@



        <footer>
            <p>&copy; @DateTime.Now.Year - Imobiliária ISEP</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @*<script type="text/javascript">
                initWidget("widget", "ou", "vertical");
        </script>*@
</body>
</html>
