﻿@model IEnumerable<ClienteAuth.Models.Imovel>
@using ClienteAuth.Helpers

@{
    ViewBag.Title = "Index";
}

<h2>Imóveis</h2>
@if (WebApiHttpClient.getToken() != null)
{
    if (WebApiHttpClient.getToken().Role == "[\"Cliente\"]")
    {
<p>
    @Html.ActionLink("Registar Novo Imóvel", "Create")
</p>
    }
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Foto.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Localizacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoImovel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utilizador)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Url.Content(item.Url)" alt="Image" height="80" width="60" onError="this.onerror=null; this.src = 'https://image.freepik.com/free-icon/rural-hotel-house-with-birds-and-clouds_318-51246.png'" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Localizacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoImovel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utilizador)
        </td>
        <td>
            @if (WebApiHttpClient.getToken() != null)
            {
                if (WebApiHttpClient.getToken().Username.Equals(item.Utilizador))
                {
                @Html.ActionLink("Editar", "Edit", new { id = item.ImovelID }) @(' ') @('|') @(' ')
                @Html.ActionLink("Apagar", "Delete", new { id = item.ImovelID })  @(' ') @('|') @(' ')
                }         
            }
            @Html.ActionLink("Detalhes", "Details", new { id = item.ImovelID })

        </td>
    </tr>
}

</table>
