﻿<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLE CSS -->
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <!-- VEGAS STYLE CSS -->
    <link href="~/assets/scripts/vegas/jquery.vegas.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

</head>
<body>


    <!--Header section  -->
    <div class="container" id="home">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="head-main">  Imobiliária ISEP </h1>
                <h2 class="head-sub-main"> Unidade curricular de Arquitetura de Sistemas</h2>
                <h3 class="head-last"> </h3>

            </div>


        </div>
    </div>
    <!--End Header section  -->
    <!-- Navigation -->
    <!--End Navigation -->
    <!--About Section-->
    <!--End About Section-->
    <!-- About Team Section -->
    <section class="for-full-back color-light" id="about-team">
        <div class="container">

            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2 ">
                    <h3>Projeto realizado por: </h3>
                    <h4>
                        <strong>
                            3DA
                        </strong>
                    </h4>
                </div>

            </div>
            <div class="row text-center">
                <div class="col-md-12 g-pad-bottom">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="team-member">
                            <img src="~/Imagem/asfalt-dark.png" alt="">

                            <strong>  </strong>
                            <br /><br />


                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="team-member">
                            <img src="~/Imagem/ricardo.jpeg" alt="">
                            <h3>
                                <strong> Ricardo Leite </strong>
                                <br /><br />
                                1130522
                            </h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="team-member">
                            <img src="~/Imagem/tiago.jpg" alt="">
                            <h3>
                                <strong> Tiago Filipe </strong>
                                <br /><br />
                                1130600
                            </h3>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="team-member">
                            <img src="~/Imagem/asfalt-dark.png" alt="">

                            <strong> </strong>
                            <br /><br />


                        </div>
                    </div>





                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <h2> </h2>
                    <p>


                    </p>
                </div>

            </div>
        </div>
    </section>



    <div class="for-full-back " id="footer">

        Instituto Superior de Engenharia do Porto | 2015

    </div>
    <!--End footer Section -->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="~/assets/plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="~/assets/plugins/bootstrap.js"></script>
    <!-- VEGAS SLIDESHOW SCRIPTS -->
    <script src="~/assets/plugins/vegas/jquery.vegas.min.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="~/assets/js/custom.js"></script>

</body>
</html>