#divFacetas{

    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border-radius: 50px 50px 50px 50px;
    border-style:outset;
    border-color:#404040;
    border-width: 5px;
    background:rgb(112, 196, 105);
    padding: 20px; 
    margin:0 auto;
    width: 377px;
    text-align:justify;
}

#divHead{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:35px;
    padding: 20px; 
    width: 500px;
    text-align:center;
    display:block;
    max-width: 500px;
}

.facetaStyle {
    width: 33%;
    float: left; 
    column-count: 3;
    display:table;
}

#button{
    text-align: center;
    display:block;
    margin:0 auto;
    color:#000000;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:16px;
    border-radius: 50px 50px 50px 50px;
    border-style:outset;
    border-color:#404040;
    border-width: 5px;
    background:rgb(112, 196, 105);
}

div {
    text-transform: capitalize;
    text-justify: kashida; 

}

* {
    box-sizing: border-box;
   
}

.facetas{
    border: 2px solid black;
    
    float: right;
}

.pesquisa{
   
    float: bottom;
}

th {
    background-color: rgb(112, 196, 105);
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight:bold;
    padding: 5px 5px;
    text-align: center;
    

}

.table{
    text-align: center;
    outline: none;
    border-color:#cccccc;
    width: 500px;
    height: 100%;
    
}

#thead {
    cursor: pointer;
    background: #c9dff0;
}

td {
    background-color: rgb(238, 238, 238);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: rgb(111, 111, 111);
    text-align: center;
    padding: 0px;
    margin: auto;
}

#img{
    max-height: 100px;
    height: auto; 
    width: auto;
}


