﻿@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>

<p>
    Aplicaçao Imobiliária Isep - Desenvolvida no âmbito da únidade curricular de Arquitetura de Sistemas, do 3º Ano de Licenciatura, do Instituto Superior de
    Engenharia do Porto
</p>

<address>
    <strong>Ricardo Leite:</strong>   <a href="mailto:1130522@isep.ipp.pt">1130522@isep.ipp.pt</a><br />
    <strong>Tiago Filipe:</strong> <a href="mailto:1130600@isep.ipp.pt">1130600@isep.ipp.pt</a>
</address>