﻿<!DOCTYPE html>
<html>
@{
    ViewBag.Title = "Widget";
}
<head>
    <script src="http://code.jquery.com/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="~/widgetimorest/widget.js"></script>
    <link href="~/widgetimorest/widgetcss.css" rel="stylesheet" />
</head>



<body>
    <center>
        <div class="wi" id="widget">
            <p>

            </p>
        </div>
    </center>
    <br />
    <br />
    <center>
        <div class="ou" id="output">
            <p>

            </p>
        </div>
    </center>

    <script type="text/javascript">
        initWidget("widget", "ou", "vertical");
    </script>

</body>

</html>

