﻿@model IEnumerable<Imobiliaria_Arqsi.Models.Anuncio>

@{
    ViewBag.Title = "Index";
}

<h2>Anúncios</h2>
@if (User.IsInRole("Cliente"))
{
<p>
    @Html.ActionLink("Criar Novo Anuncio", "Create")
</p>
}
<table class="table">
@if (!Model.Any())
{
    <tr><td>Não existem Anúncios.</td></tr>
}
else
{
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Imovel.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoAnuncio)
        </th>
        <th></th>
    </tr>

    foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Imovel.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCriacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoAnuncio)
        </td>
        <td>
            @Html.ActionLink("Detalhes", "Details", new { id = item.AnuncioID }) @(' ') @('|') @(' ')
                @if (item.Imovel.Utilizador.Equals(User.Identity.Name))
                {
            @Html.ActionLink("Editar", "Edit", new { id = item.AnuncioID }) @(' ') @('|') @(' ')
            @Html.ActionLink("Apagar", "Delete", new { id = item.AnuncioID }) }
        </td>
    </tr>
    }
}

</table>
