﻿@model ClienteAuth.Models.Anuncio

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Anuncio</h4>
    <hr />


    <dl class="dl-horizontal">
        <dt> 
            @Html.DisplayNameFor(model => model.Imovel.Utilizador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImovelUtilizador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imovel.Nome)
        </dt>
            
        <dd>
            @Html.DisplayFor(model => model.ImovelNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoAnuncio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoAnuncio)
        </dd>

    </dl>

    @Html.ActionLink("Detalhes do imóvel",
    "Details",  // <-- Controller Name.
                     "Imovels" ,   // <-- ActionMethod
                                       new { id=Model.ImovelID }, // <-- Route arguments.
                                                                            null  // <-- htmlArguments .. which are none. You need this value
                      //     otherwise you call the WRONG method ...
    //     (refer to comments, below).
    )

</div>
<p>
    @Html.ActionLink("Voltar à Lista", "Index")
</p>
