﻿@model IEnumerable<ClienteAuth.Models.Anuncio>
@using ClienteAuth.Helpers
@{
    ViewBag.Title = "Index";
}

<h2>Anúncios</h2>
@if (WebApiHttpClient.getToken() != null)
{
    if (WebApiHttpClient.getToken().Role == "[\"Cliente\"]")
    {
<p>
    @Html.ActionLink("Criar Novo Anuncio", "Create")
</p>
    }
}
<table class="table">
@if (!Model.Any())
{
    <tr><td>Não existem Anúncios.</td></tr>
}
else
{
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Imovel.Foto.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImovelNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoAnuncio)
        </th>
        <th></th>
    </tr>

    foreach (var item in Model)
    {
    <tr>

        <td>
            <img src="@Url.Content(item.ImovelUrl)" alt="Image" height="80" width="60" onError="this.onerror=null; this.src = 'https://image.freepik.com/free-icon/rural-hotel-house-with-birds-and-clouds_318-51246.png'" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImovelNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCriacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoAnuncio)
        </td>
        <td>
        @if (WebApiHttpClient.getToken() != null)
        {
            if (WebApiHttpClient.getToken().Username.Equals(item.ImovelUtilizador))
            {
                @Html.ActionLink("Editar", "Edit", new { id = item.AnuncioID }) @(' ') @('|') @(' ')
                @Html.ActionLink("Apagar", "Delete", new { id = item.AnuncioID }) @(' ') @('|') @(' ')
            }
        }
        @Html.ActionLink("Detalhes", "Details", new { id = item.AnuncioID }) 
          
        </td>
    </tr>
    }
}

</table>
