﻿@model ClienteAuth.Models.Alerta
@using ClienteAuth.Helpers
@{
    ViewBag.Title = "Eliminar";
}

@if (WebApiHttpClient.getToken() != null)
{
    if (WebApiHttpClient.getToken().Role == "[\"Cliente\"]"  && WebApiHttpClient.getToken().Username == Model.Utilizador)
    {

<h2>Eliminar</h2>

<h3>Tens a certeza que desejas eliminar?</h3>
    <br />
<div>
    <h4>Alerta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoAnuncio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoAnuncio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoImovel.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoImovelNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localizacao.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalizacaoNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecoMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecoMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecoMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecoMax)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" />
            
        </div>
        <br />
        @Html.ActionLink("Voltar à Lista", "Index")
    }
</div>
    }  
     <h2>Alertas</h2>
    <br />
    @("Tem de estar autenticado para poder aceder a esta página.")
}
 

