﻿@model ClienteAuth.Models.Alerta

@{
    ViewBag.Title = "Detalhes";
}


<h2>Detalhes</h2>

<div>
    <h4>Alerta</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoAnuncio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoAnuncio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoImovel.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoImovelNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalizacaoNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecoMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecoMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecoMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecoMax)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.AlertaID }) |
    @Html.ActionLink("Voltar à Lista", "Index")
</p>


<h2>Alertas</h2>
<br />
