﻿@model IEnumerable<ClienteAuth.Models.Alerta>
@using ClienteAuth.Helpers
@{
    ViewBag.Title = "Alertas";
}
@if (WebApiHttpClient.getToken() != null)
{
    if (WebApiHttpClient.getToken().Role == "[\"Cliente\"]")
    {

<h2>Alertas</h2>
<br />

<p><a class="btn btn-default" @Html.ActionLink("Criar Novo Alerta", "Create")</p>

<h4>Lista de Alertas</h4>

<table class="table">
    @if (!Model.Any())
    {
        <tr><td>Não existem Alertas criados.</td></tr>
    }
    else
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoAnuncio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoImovel.Nome)
            </th>

            <th></th>
        </tr>

        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoAnuncio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoImovelNome)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.AlertaID }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.AlertaID }) |
                    @Html.ActionLink("Apagar", "Delete", new { id = item.AlertaID })
                </td>
            </tr>
        }
    }

</table>
    }
    else
    {
        <h2>Alertas</h2>
        <br />
        @("Tem de estar autenticado para poder aceder a esta página.")
    }
}