﻿@model ClienteAuth.Models.TipoImovel
@using ClienteAuth.Helpers
@{
    ViewBag.Title = "Eliminar Tipo de Imóvel";
}




<h2>Eliminar Tipo de Imóvel</h2>
@if (WebApiHttpClient.getToken() != null)
{
    if (ClienteAuth.Helpers.WebApiHttpClient.getToken().Role == "[\"Administrador\"]")
    {
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
    <hr />
    <h4>Tem a certeza que deseja eliminar isto?</h4>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sim" class="btn btn-default" />
             |
            @Html.ActionLink("Voltar à Lista", "Index")
        </div>
    }
</div>

    }
}
else
{

    <h2>Tipos de Imóveis</h2>
    <br />
    @("Tem de estar autenticado como administrador para poder aceder a esta página.")

}
