﻿@model IEnumerable<ClienteAuth.Models.TipoImovel>
@using ClienteAuth.Helpers

@{

     ViewBag.Title = "Tipos de Imóveis";
}
<h2>Tipos de Imóveis</h2>
<br />

@if (WebApiHttpClient.getToken() != null)
{
    if (WebApiHttpClient.getToken().Role == "[\"Administrador\"]"){

<h4>Gerir Tipos de Imóveis</h4>
    <hr />

<p><a class="btn btn-default" @Html.ActionLink("Criar Novo Tipo de Imóvel", "Create")></a></p> 
<br /><br />
    }
}

<table class="table">
    @if (!Model.Any())
    {
        <tr><td>Não existem Tipos de Imóveis.</td></tr>
    }
    else
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>

        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
               
@if (WebApiHttpClient.getToken() != null)
{
    if (WebApiHttpClient.getToken().Role == "[\"Administrador\"]")
    {
                    @Html.ActionLink("Editar", "Edit", new { id = item.TipoImovelID }) @(' ') @('|') @(' ')
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.TipoImovelID })
    }
}
                </td>
                
            </tr>
        }

    }
        

</table>