﻿@model Imobiliaria_Arqsi.Models.Imovel

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Tem a certeza que quer apagar este imóvel?</h3>
<div>
    <h4>Imóvel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoImovel.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoImovel.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localizacao.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localizacao.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPS.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPS.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPS.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPS.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto.Url)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar à Lista", "Index")
        </div>
    }
</div>
