﻿@model Imobiliaria_Arqsi.Models.Imovel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Imóvel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Foto.Url)
            
        </dt>

        <dd>
            <img src="@Url.Content(Model.Foto.Url)" alt="Image" height="140" width="120" onError="this.onerror=null; this.src = 'https://image.freepik.com/free-icon/rural-hotel-house-with-birds-and-clouds_318-51246.png'" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoImovel.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoImovel.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localizacao.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localizacao.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPS.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPS.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPS.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPS.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilizador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilizador)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Voltar à Lista", "Index")
</p>
