﻿@model Imobiliaria_Arqsi.Models.TipoImovel

@{
    ViewBag.Title = "Criar Tipo de Imóvel";
}

@if (User.IsInRole("Administrador"))
{

<h2>Criar Tipo De Imóvel</h2>


using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, "Nome", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="OK" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar à Lista", "Index")
</div>

}
else
{
    <h2>Tipos de Imóveis</h2>
    <br />
    @("Tem de ser Administrador para poder aceder a esta página.")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
