﻿@model Imobiliaria_Arqsi.Models.TipoImovel

@{
    ViewBag.Title = "Eliminar Tipo de Imóvel";
}

@if (User.IsInRole("Administrador"))
{


<h2>Eliminar Tipo de Imóvel</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
    <hr />
    <h4>Tem a certeza que deseja eliminar isto?</h4>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sim" class="btn btn-default" />
             |
            @Html.ActionLink("Voltar à Lista", "Index")
        </div>
    }
</div>

}
else
{
    <h2>Tipos de Imóveis</h2>
    <br />
    @("Tem de estar autenticado para poder aceder a esta página.")
}
