﻿@model IEnumerable<Imobiliaria_Arqsi.Models.TipoImovel>

@{
    ViewBag.Title = "Tipos de Imóveis";
}

<h2>Tipos de Imóveis</h2>
<br />

@if (User.IsInRole("Administrador"))
{

<h4>Gerir Tipos de Imóveis</h4>
    <hr />

<p><a class="btn btn-default" @Html.ActionLink("Criar Novo Tipo de Imóvel", "Create")</p>
<br /><br />

}

<table class="table">
    @if (!Model.Any())
    {
        <tr><td>Não existem Tipos de Imóveis.</td></tr>
    }
    else
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>

        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @if (User.IsInRole("Administrador"))
                    {
                    @Html.ActionLink("Editar", "Edit", new { id = item.TipoImovelID }) @(' ') @('|') @(' ')
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.TipoImovelID })
                    }
                </td>
                
            </tr>
        }

    }
        

</table>